<h4>Loadcell Settings</h4>
<table class="table table-condensed">
	<thead>
		<tr>
			<td>{{ _('Loadcell Name') }}</td>
			<td style="text-align:center">{{ _('Material Options') }}</td>
			<td></td>
			<td></td>
			<td></td>
			<td style="text-align:center"><div class="btn-group"><button class="btn btn-mini" data-bind="click: addLoadcell"><i class="icon icon-plus" aria-hidden="true"></i></button></div></td>
		</tr>
	</thead>
	<tbody data-bind="foreach: settings.settings.plugins.materialmonitor.Loadcell">
		<tr data-bind="attr: {title: name}">
			<td><span data-bind="text: name" /></td>
			<td><div class="controls"><label class="control-label">{{ _('Material Name') }}</label><input type="text" class="input-block-level" data-bind="value: matname" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Material Weight') }}</label><input type="number" min="0" class="input input-small" data-bind="value: weight" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Material Color') }}</label><input type="color" class="input input-small" data-bind="value: color" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Spool Weight') }}</label><input type="number"  min="0" class="input input-small" data-bind="value: spool" /></div></td>
				<td style="text-align:center">
				<div class="btn-group">
					<a href="#" class="btn btn-mini icon-pencil" data-bind="click: $root.editLoadcell"></a>
					<a href="#" class="btn btn-mini icon-trash" data-bind="click: $root.removeLoadcell, visible: $root.settings.settings.plugins.materialmonitor.Loadcell().length > 1"></a>
				</div>
				</td>
	    </tr>
	</tbody>
</table>

<div id="LoadcellEditor" data-bind="with: Loadcell" class="modal large hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Loadcell Editor</h3>
	</div>
	<div class="modal-body">
		<table class="table table-condensed">
			<tr>
				<td><div class="controls"><label class="control-label">{{ _('Loadcell Name') }}</label><input type="text" class="input-block-level" data-bind="value: name" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('SCK-Pin') }}</label><input type="number" min="0" class="input input-small" data-bind="value: sckpin" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('DT-Pi n') }}</label><input type="number" min="0" class="input input-small" data-bind="value: dtpin"  /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Reference Unit') }}</label><input type="number" class="input input-small" data-bind="value: refunit" /></div></td>
			</tr>
			<tr>
				<td><div class="controls"><label class="control-label">{{ _('Material Name') }}</label><input type="text" class="input-block-level" data-bind="value: matname" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Material Weight') }}</label><input type="number" min="0" class="input input-small" data-bind="value: weight" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Material Color') }}</label><input type="color" class="input input-small" data-bind="value: color" /></div></td>
				<td><div class="controls"><label class="control-label">{{ _('Spool Weight') }}</label><input type="number"  min="0" class="input input-small" data-bind="value: spool" /></div></td>


			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>

